<link rel="stylesheet" href="./static/css/reset.css">
<link rel="stylesheet" href="./static/css/me_main.css">
<div ng-controller="prompt">
    <div>
        <header class="me_header me_nav">
            <div class="container fn">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-logo" href="#">
                        <img alt="Brand" src="./static/images/me_logo.png">
                    </a>
                </div>
                <div class="me_list collapse navbar-collapse fr" id="bs-example-navbar-collapse-1">
                    <a href="http://www.maixuexi.cn">首页</a>
                    <a href="http://www.maixuexi.cn/index.php/frontend/help" target="_blank">常见问题</a>
                    <a href="http://blog.maixuexi.cn/" target="_blank">互动讨论</a>
                    <a class="a_log" href="http://www.maixuexi.cn/" target="_blank">学校版登录</a>
                    <a class="a_log" href="http://www.maixuexi.cn/" target="_blank">教师登录</a>
                    <a class="a_log" href="http://www.maixuexi.cn/" target="_blank">学生登录</a>
                </div>
                <a href="#" class="close click_tracking" data-label="Close header menu" tabindex="1"></a>
            </div>
        </header>
        <div class="me_content me_con_bg" style="background-color: #efefef;">
            <div class="container">
                <p class="tips" style="font-size: 18px;font-weight: bold;color: #333;">
                    我们已经向您的注册邮箱发送了一封邮件，请您注意接收邮件！</p>
            </div>
        </div>
        <footer class="footer">
            <div class="me_footer"><img src="./static/images/me_footer_logo.png"></div>
            <p class="me_p_0">
                <a href="#">关于我们</a></li>|
                <a href="#">问题反馈</a></li>
            </p>
            <!--<p class="me_p_1">
            <span>友情链接：</span>
            <a href="#">亲子早教</a>
            <a href="#">试题库</a>
        </p>-->
            <p>市场合作：mstudy@m-cookies.com &nbsp;客服电话：027-87298233（工作时间09-18:00）&nbsp;公司地址：武汉市东湖西路114号景天楼2-11-2室</p>
            <p class="me_p1"><span>©2015&nbsp;麦学习作业软件&nbsp;WWW.MAIXUEXI.CN&nbsp;鄂ICP备12001098号-5</span></p>
        </footer>
    </div>
</div>
