<div id="intrdoce">
    <div class="center">
        <div class="siteinfo">
            <ul>
                <li>
                    <img src="http://teacher.mstudy.me/admin/images/kao.png" />
                    <p class="introduction">自定义考卷</p>
                    <p>专注教学辅助,自定义上传作业</p>
                    <p>进行作业安排和布置作业</p>
                </li>
                <li>
                    <img src="http://teacher.mstudy.me/admin/images/lian.png" />
                    <p class="introduction">班级学员管理</p>
                    <p>结合微信,学员及时通知</p>
                    <p>互动,协同教学学习</p>
                </li>
                <li>
                    <img src="http://teacher.mstudy.me/admin/images/ping.png" />
                    <p class="introduction">能力评估</p>
                    <p>学员学习互动数据统计紧密跟踪</p>
                    <p>实时掌握学习动态</p>
                </li>
            </ul>	
        </div>
    </div>
</div>

<div id="footer">
    <div class="icp">
        ©2015&nbsp;麦学习作业软件&nbsp;WWW.MAIXUEXI.CN&nbsp;鄂ICP备12001098号-5
    </div> 
</div>