<div id="header">
    <!--导航1-->
    <div class="navigation">
        <div class="logo fl"></div>
        <div class="info fl">微信上的智能作业本</div>
        <div class="menu fl">
            <a href="http://www.mstudy.me/">首页</a>
            <a href="http://www.mstudy.me/pro.html">产品特点</a>
            <a href="http://help.mstudy.me">常见问题</a>
            <a href="http://www.mstudy.me/business.html">加入我们</a>
            <a href="http://q.mstudy.me/">互动讨论</a>
            <a href="http://institu.mstudy.me/"  class="admin">机构/教师入口</a>
        </div>
        <div class="clear"></div>
    </div>
</div>