<div ng-controller="password" class="main setting">
    <div id="box">
        <div user-Top></div>
        <div class="main common">
            <div my-Tab></div>
            <div class="content right">
                <div class="sub-navigation">
                    <a href="#/setting" class="personal-center">个人中心</a>
                    <a href="#/account" class="personal-center">账户管理</a>
                    <a href="#/password" class="personal-center-selected selected">修改密码</a>
                </div>
                <div class="detail">
                    <div class="class-create-from">
                        <form class="form-horizontal" role="form">
                            <input type="password" class="form-control first" name="oldPassword" placeholder="输入原密码" ng-model="oldPassword" />
                            <input type="password" class="form-control" name="newPassword" placeholder="输入新密码" ng-model="newPassword" />
                            <input type="password" class="form-control" name="rePassword" placeholder="确认新密码" ng-model="rePassword" ng-blur='password=true' ng-focus='password=false' />
                            <p class='message' ng-show="password && newPassword!=rePassword">两次密码不一致!</p>
                            <button type="button" class="btn btn-success editpwd" ng-click="submit()">确定修改</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="admin-icp">©2015&nbsp;麦学习作业软件&nbsp;WWW.MAIXUEXI.CN&nbsp;鄂ICP备12001098号-5</div>
        </div>
    </div>
</div>
