<div class="public main" ng-controller="publicClass">
    <div id="box">
        <div user-Top></div>
        <div class="main common">
            <div my-Tab></div>
            <div class="content right">
                <div class="sub-navigation">
                    <a href="#/class/list" class="class-list-selected selected">我的班级</a>
                    <!-- <a href="#/class/public" class="class-public-selected selected">公共班级</a> -->
                    <a href="#/class/create" class="class-create">创建班级</a>
                    <a href="#/class/live" class="class-live">班级直播</a>
                </div>
                <div class="class-type-title">
                    <a href="#/class/list">我的班级</a>
                    <a>|</a>
                    <a class="type-selected" href="#/class/public">公共班级邀请</a>
                </div>
                <div class="detail">
                    <div class="header">
                        <div pagination></div>
                        <!-- <span class="rank" ng-click="rank()">创建时间排序</span> -->
                        <!-- <input type="text" id="search" placeholder="搜索班级" ng-model="className" ng-keyup="search($event)"> -->
                    </div>
                    <div class="body">
                        <div class="box" ng-repeat="publicClass in publicClasses">
                            <div class="above" ng-click="linkToClass(publicClass['cid'],publicClass['isAgree'])" ng-mouseenter="changeCourse(publicClass['isAgree'],$event)">
                                <p class="className">{{publicClass.className}}</p>
                                <p class="classNum">已参与：{{publicClass.userNumber?publicClass.userNumber:0}}人</p>
                                <p class="classLimit">班级人数：{{publicClass.maxNumber?publicClass.maxNumber:0}}人</p>
                                <div class="teacherInfo">
                                    <img ng-src="./static/images/{{teacher.isOwner==1? 'user_creat.png': 'user_join.png'}}" title="{{teacher.teacherName}}" ng-repeat="teacher in publicClass.teacherList" />
                                    <!-- <img ng-src="./static/images/user_creat.png" title="{{teacher.name}}" />
                                    <img ng-if="teacher.iscreate!=1" ng-src="./static/images/user_join.png" title="{{teacher.name}}" ng-repeat="teacher in publicClass.teachers" /> -->
                                </div>
                                <div class="classInfo">
                                    <sapn class="classIndex">班号: {{publicClass.cid}}</sapn>
                                    <span class="pass">班级密码: {{publicClass.password?publicClass.password:'无'}}</span>
                                </div>
                            </div>
                            <div class="sub" ng-if="publicClass.isAgree==0">
                                <button class="agree" ng-click="isAgree(publicClass['cid'],$event)">同意</button>
                                <button class="reject" ng-click="isAgree(publicClass['cid'],$event)">拒绝</button>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <!-- <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="javascript:void(0)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)">5</a></li>
                                <li>
                                    <a href="javascript:void(0)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav> -->
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="admin-icp">©2015&nbsp;麦学习作业软件&nbsp;WWW.MAIXUEXI.CN&nbsp;鄂ICP备12001098号-5</div>
        </div>
    </div>
</div>
