<link rel="stylesheet" href="./static/css/reset.css">
<link rel="stylesheet" href="./static/css/me_main.css">
<div class="repassword common" ng-controller="repassword">
    <div>
        <header class="me_header me_nav">
            <div class="container fn">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-logo" href="#">
                        <img alt="Brand" src="static/images/me_logo.png">
                    </a>
                </div>
                <div class="me_list collapse navbar-collapse fr" id="bs-example-navbar-collapse-1">
                    <a href="http://www.maixuexi.cn">首页</a>
                    <a href="http://www.maixuexi.cn/help.html" target="_blank">常见问题</a>
                    <a href="http://blog.maixuexi.cn/" target="_blank">互动讨论</a>
                    <a class="a_log" href="http://www.maixuexi.cn/school" target="_blank">学校版登录</a>
                    <a class="a_log" href="http://www.maixuexi.cn/teacher" target="_blank">教师登录</a>
                    <a class="a_log" href="http://www.maixuexi.cn/student" target="_blank">学生登录</a>
                </div>
                <a href="#" class="close click_tracking" data-label="Close header menu" tabindex="1"></a>
            </div>
        </header>
        <div class="me_content me_con_bg">
            <div class="container">
                <div class="me_reset">
                    <h4>请重新设定密码</h4>
                    <p>
                        <input type="password" id="password1" placeholder="密码" onblur="verify.verifyPass(this)" ng-model="password">
                        <span class="strMess">密码不小于6位</span>
                    </p>
                    <p>
                        <input type="password" id="password2" placeholder="再次输入密码" onblur="verify.verifyPassRe(this)">
                        <span class="strMess">两次密码不一致</span>
                    </p>
                    <p class="me_p">
                        <a class="submit_btn" ng-click="submit()">确&nbsp;&nbsp;&nbsp;定</a>
                    </p>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="me_footer"><img src="static/images/me_footer_logo.png"></div>
            <p class="me_p_0">
                <a href="http://www.m-cookies.com/" target="_blank">关于我们</a></li>|
                <a href="#" target="_blank">问题反馈</a></li>
            </p>
            <!--<p class="me_p_1">
                <span>友情链接：</span>
                <a href="#">亲子早教</a>
                <a href="#">试题库</a>
            </p>-->
            <p>市场合作：mstudy@m-cookies.com &nbsp;客服电话：027-87298233（工作时间09-18:00）&nbsp;公司地址：武汉市东湖西路114号景天楼2-11-2室</p>
            <p class="me_p1"><span>©2015&nbsp;麦学习作业软件&nbsp;WWW.MAIXUEXI.CN&nbsp;鄂ICP备12001098号-5</span></p>
        </footer>
    </div>
</div>
<script type="text/javascript">
//表单验证

function showNotic(_this) {

    $(_this).next().fadeIn(100);
    // $(_this).focus();

} //错误提示显示

function hideNotic(_this) {

    $(_this).next(".strMess").fadeOut(100);

} //错误提示隐藏

var verify = {

    //验证设置密码长度
    verifyPass: function(_this) {

        var _length = $(_this).val().length;

        if (_length < 6) {

            showNotic(_this)
            $("#password1").css({
                border: '1px solid #ff0000'
            });
            $(".login_btn").addClass("return");
        } else {

            hideNotic(_this)
            $("#password1").css({
                border: '1px solid #009849'
            });
            if ($(".login_btn").hasClass("return")) {
                $(".login_btn").removeClass("return")
            };
        }

    },

    //判断两次密码是否一致
    verifyPassRe: function(_this) {

        var _pass2 = $(_this).val();
        var _pass1 = $('#password1').val();

        if (_pass2 !== _pass1 || _pass2 == "") {

            showNotic(_this)
            $("#password2").css({
                border: '1px solid #ff0000'
            });
            $(".submit_btn").addClass("return");
        } else {

            hideNotic(_this)
            $("#password2").css({
                border: '1px solid #009849'
            });
            if ($(".submit_btn").hasClass("return")) {
                $(".submit_btn").removeClass("return")
            };
        }

    },

}
</script>
