<script type="text/javascript" src="static/js/datePicker/WdatePicker.js"></script>
<div class="main" ng-controller="wxPreview">
    <div id="box">
        <div user-Top></div>
        <div class="main common">
            <div my-Tab></div>
            <div class="content right">
                <div class="sub-navigation">
                    <a href="#/paper/list/0" class="paper-list">我的习题</a>
                    <a href="#/paper/public" class="paper-list">公共习题库</a>
                    <a href="#/paper/name" class="paper-create-selected selected">录入习题</a>
                    <a href="#/paper/tag" class="paper-list">标签管理</a>
                </div>
                <div class="detail">
                    <div class="create-paper preview-paper">
                        <div class="create-paper-step">
                            <div class="right" style="position: relative; margin-right:10px;">
                                <a class="btn btn-success nextstep back-edit" ng-click="back()" style="height:40px;line-height: 40px;margin:5px 0;">返回列表</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- 试卷信息 -->
                        <div class="goods-info fl">
                            <p class="goods-title">试卷名称：{{paper.paperName}}</p>
                            <div class="wxQrcode"></div>
                            <p><span>授权码 : <i id="target-code">{{paper.copyCode}}</i></span></p>
                            <p style="text-align: center;"><a href="javascript:;" class="copy-code" data-clipboard-action="copy" data-clipboard-target="#target-code">拷贝授权码</a></p>
                            <p style="text-align: center;"><a href="javascript:;" ng-click="shareModal()" class="share-paper">试卷分享</a></p>
                            <!-- <p style="text-align: center;" ng-if="paper.isQuestionBank"><a href="javascript:;" ng-click="obtainPaper(paper.pid)" class="obtain-paper">获取试卷</a></p> -->
                            <p>客观题：{{paper.objNumber}}道</p>
                            <p>主观题：{{paper.subNumber}}道</p>
                            <p>卷面分：{{paper.objScore+paper.subScore}}分</p>
                            <div class="clearfix"></div>
                        </div>
                        <!--预览内容-->
                        <div class="paper-preview-main paper-preview-right fl">
                            <div class="paper-preview-serial">
                                <ul>
                                    <li ng-repeat="qStruct in paper.paperStructJson" ng-click="goto($index)">{{$index+1}}</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <!-- 预览题目内容 -->
                            <div class="paper-preview-main-box" style="padding: 10px;">
                                <div class="paper-preview-detail" style="height: 600px; overflow-y: auto; overflow-x: hidden;">
                                    <div paper-struct></div>
                                </div>
                                <div style="height:20px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mask" ng-show="myModal"></div>
                    <!-- 标签修改摸态框 -->
                    <div class="dialog_wrp simple label_block" ng-show="myModal">
                        <div class="dialog">
                            <div class="dialog_hd">
                                <h3>试卷分享</h3>
                                <a href="javascript:void(0);" onclick="return false" class="icon16_opr closed pop_closed" ng-click="myModal=false">关闭</a>
                            </div>
                            <div class="dialog_bd">
                                <div style="overflow: hidden;">
                                    <input style="float: left;width:500px;" type="text" placeholder="请输入教师账号进行搜索" class="search-name" ng-model="searchName" />
                                    <button style="margin-left: 0;float: right;width:100px;" class="search" ng-click="search()">搜索</button>
                                </div>
                                <div style="height:50px; line-height: 50px; text-align: left;">
                                    <!-- <p ng-if="teacherName">试卷将被分享给</p> -->
                                    <span class="search-result" style="margin-top:0;" ng-if="teacherName"><img src="./static/images/user_creat.png">{{teacherName}}</span>
                                </div>
                            </div>
                            <div class="dialog_ft">
                                <span><button type="button" class="confirm" ng-click="confirm()">确认</button></span>
                                <span><button type="button" class="cancel" ng-click="myModal=false">取消</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="admin-icp">©2015&nbsp;麦学习作业软件&nbsp;WWW.MAIXUEXI.CN&nbsp;鄂ICP备12001098号-5</div>
        </div>
    </div>
    <script>
    //复制拷贝码到剪贴板
    if (!clipboard) {
        var clipboard = new Clipboard('.copy-code');
        clipboard.on('success', function(e) {
            alert("已成功拷贝至剪切板，粘贴授权码或二维码给其他老师，可以通过手机或者PC直接拷贝本试卷！");
            e.clearSelection();
        });
    }
    </script>
</div>
